#display_one:checked ~ section {display: none;}
#display_one:checked ~ section.current {display: block;}
#pagination {
	display: none;
	position: fixed;
	bottom: 0;
	padding: 1em;
}
#display_one:checked ~ #pagination {display: block;}


section, details {
	border: 1px solid black;
	padding: 10px;
	margin: 10px 0;
}
h2 {
	margin-top: 0;
}

details {
	max-width: 60em;
}

#login-twitter {
	background-color: #1DA1F2;
	max-width: 135px;
}

#login-twitter a {
	display: flex;
	flex-direction: row;
	color: white;
	text-decoration: none;
}

#login-twitter img {
	max-height: 32px;
}

button#login {
	height: 40px;
	display: flex;
	align-items: center;
}
button svg {
	height: 28px;
	padding-right: 10px;
}

/* The header row doesn't get styled like the others */
#setups tr:first-child {
	background: inherit !important;
	cursor: inherit !important;
}

#setups tr:nth-child(odd) {
	background: #ddf;
	cursor: pointer;
}

#setups tr:nth-child(even) {
	background: #dff;
	cursor: pointer;
}

#setups tr:hover {
	background: #ff0;
}

textarea {
	vertical-align: top;
}

#tweet {
	width: 70em;
	min-height: 6em;
	border: 1px solid grey;
	display: inline-block;
	vertical-align: top;
	cursor: text;
	padding: 2px;
	font-family: monospace;
	white-space: pre-wrap;
}
/* Force the spans to be monospaced, since otherwise they set it
back to Times New Roman for some reason. Or not. I dunno now. */
/* #tweet span {font-family: monospace!important;} */

#tweetlen, #tweettime {
	margin-left: 0.5em;
}

.columns {
	display: flex;
	margin: 0.5em 0;
}

.columns > * {
	margin: 0 0.5em;
}

#checklist {
	padding: 0;
}
#checklist li {
	font-size: 1.25em;
	list-style: none;
}
#checklist input[type=checkbox] {
	height: 1.75em;
	width: 1.75em;
}

dialog {
	position: fixed;
	width: 30em; height: 20em;
	top: calc(50% - 15em);
	left: calc(50% - 10em);
	bottom: calc(50% - 15em);
	right: calc(50% - 10em);
	border: 5px solid black;
	padding: 1em;
	overflow: auto;
}

#picker li {
	cursor: pointer;
	border: 1px solid transparent;
}

#picker li:hover {
	border-color: #0df;
	background: #eff;
}

#picker li img {
	vertical-align: middle;
	margin-top: 0.25em;
}

.dialog_cancel {
	position: absolute;
	right: 1em; top: 1em;
}

#messages div {
	min-height: 3em;
	max-width: 30em;
	padding: 0.5em;
	margin: 1em;
}

.errormessage {
	border: 3px solid red;
	background: #fcc;
}

.warningmessage {
	border: 3px solid orange;
	background: #ffc;
}

.successmessage {
	border: 3px solid green;
	background: #cfc;
}

.hidden {
	display: none;
}

li.customonly {
	display: none;
}

/* Can't seem to control this based on the select's value, so instead
we copy the value to the ul's dataset.selval and control with that. */
ul[data-selval="custom"] li.customonly {
	display: list-item;
}

.danger {
	background: #ffeeee;
	border: 2px solid red;
	width: fit-content;
}

#prevsetup {
	margin: 0.25em;
	padding: 0.25em;
	border: 1px solid blue;
	display: none;
}
#prevsetup span {
	margin: 0 0.5em;
}

form.dirty {
	background-color: #ffeeee;
}
