section {
	border: 1px solid black;
	padding: 10px;
	margin: 10px 0;
}
h2 {
	margin-top: 0;
}

#login-twitter {
	background-color: #1DA1F2;
}

#login-twitter a {
	display: flex;
	flex-direction: row;
	color: white;
	text-decoration: none;
}

#login-twitter img {
	max-height: 32px;
}

.menu {
	display: flex;
	flex-direction: row;
	list-style: none;
}

/* The header row doesn't get styled like the others */
#setups tr:first-child {
	background: inherit !important;
	cursor: inherit !important;
}

#setups tr:nth-child(odd) {
	background: #ddf;
	cursor: pointer;
}

#setups tr:nth-child(even) {
	background: #dff;
	cursor: pointer;
}

#setups tr:hover {
	background: #ff0;
}

#tweetlen {
	margin-left: 0.5em;
}
