<!DOCTYPE HTML>
<html>
<head>
<title>Mustard Mine - {{ title }}</title>
<style>
#id {display: none;}
div {
	font-weight: 400;
	font-size: 12em;
}
{{ styling }}
/* Custom CSS can make use of selector "#time.now" to affect the "NOW" display */
</style>
</head>
<body>
<div id=id>{{ id }}</div>
<div id=time></div>
<script>
let target_time = {{ next_event }} + {{ delta }};
const maxtime = {{ maxtime }};
let target = new Date(target_time * 1000);
const display = document.getElementById("time");
let is_now = false;
let socket = null;
function update() {
	const delay = Math.floor((target - new Date()) / 1000);
	if (delay <= 0 || delay >= maxtime) {
		display.innerHTML = "NOW";
		display.classList.add("now");
		is_now = true; set_delay();
	} else {
		const min = Math.floor(delay / 60);
		const sec = delay % 60;
		display.innerHTML = min + ":" + ("0" + sec).slice(-2);
		display.classList.remove("now");
		is_now = false; set_delay();
	}
}
let timer = null, delay = 0;
function set_delay() {
	const wanted_delay = is_now || document.hidden ? 60000 : 1000;
	if (wanted_delay === delay) return;
	//server_log("Setting delay to " + wanted_delay);
	const need_update = wanted_delay < delay;
	if (timer) clearInterval(timer);
	timer = setInterval(update, delay = wanted_delay);
	if (need_update) update();
}
document.addEventListener("visibilitychange", set_delay);
/* TODO: Support auto-starting timers on becoming visible.
This will trigger when you switch to a scene with this in it, or make the source
visible in the current scene. Tested on OBS Studio v25, will probably work the
same way on SLOBS and other variants.

Would need a server-side flag to say that this is the mode it works in, and then
would need the target to be reset to some standard offset from now, with this
reset happening on page load and on visibilty change (if now visible).

This could then be used for a really easy BRB scene, where it always shows (say)
5:00 when you switch to it, and then it'll change to show "NOW" (or other text)
when the time expires. You could still adjust this time in MM's web UI, as with
any other timer.
*/
update();

const protocol = window.location.protocol == "https:" ? "wss://" : "ws://";
function init_socket() {
	socket = new WebSocket(protocol + window.location.host + "/countdown_ctrl");
	socket.onopen = () => {socket.send(JSON.stringify({type: "init", id: "{{id}}"}));};
	socket.onmessage = (ev) => {
		const msg = JSON.parse(ev.data);
		switch (msg.type) {
			case "inited": /*console.log("Mustard-Mine control connection established.");*/ break;
			case "adjust":
				//Add or subtract some seconds from the clock
				target_time += msg.delta;
				target = new Date(target_time * 1000);
				update();
				break;
			case "force":
				//Force the clock to show a specific value
				target_time = new Date()/1000 + msg.time;
				target = new Date(target_time * 1000);
				update();
				break;
			//Maybe TODO: Reset the target time to a specific Unix time
			//That would allow the admin to say "okay now recalculate for a new event"
		}
	};
	//Automatically reconnect (after a one-second delay to prevent spinning)
	socket.onclose = ev => {socket = null; setTimeout(init_socket, 1000);}
}
function server_log(msg) {socket && socket.send(JSON.stringify({type: "logme", msg}));}
init_socket();
</script>
</body>
</html>
