<!DOCTYPE HTML>
<html>
<head>
<title>Mustard Mine - {{ title }}</title>
<style>
#id {display: none;}
div {
	font-weight: 400;
	font-size: 12em;
}
</style>
</head>
<body>
<div id=id>{{ id }}</div>
<div id=time></div>
<script>
let target_time = {{ next_event }} + {{ delta }};
const maxtime = {{ maxtime }};
let target = new Date(target_time * 1000);
const display = document.getElementById("time")
function update() {
	const delay = Math.floor((target - new Date()) / 1000);
	if (delay <= 0 || delay >= maxtime) {
		display.innerHTML = "NOW";
		display.classList.add("now");
	} else {
		const min = Math.floor(delay / 60);
		const sec = delay % 60;
		display.innerHTML = min + ":" + ("0" + sec).slice(-2);
		display.classList.remove("now");
	}
}
setInterval(update, 1000); update();

const protocol = window.location.protocol == "https:" ? "wss://" : "ws://";
const socket = new WebSocket(protocol + window.location.host + "/countdown_ctrl");
socket.onopen = () => {socket.send(JSON.stringify({type: "init", id: "{{id}}"}));};
socket.onmessage = (ev) => {
	const msg = JSON.parse(ev.data);
	switch (msg.type) {
		case "inited": console.log("Mustard-Mine control connection established."); break;
		case "adjust":
			target_time += msg.delta;
			target = new Date(target_time * 1000);
			update();
			break;
		case "force":
			target_time = new Date()/1000 + msg.time;
			target = new Date(target_time * 1000);
			update();
			break;
	}
};
</script>
</body>
</html>
