<!DOCTYPE HTML>
<html>
<head>
<title>Mustard Mine</title>
<link rel="stylesheet" href="/static/main.css">
<script>
const channel = {{ channel | tojson }};
let setups = {{ setups | tojson }};
const sched_tz = {{ sched_tz | tojson }};
const schedule = {{ schedule | tojson }};
let sched_tweet = {{ sched_tweet | tojson }}; //should be just a number
const initial_tweets = {{ tweets | tojson }};
</script>
</head>
<body>
<header>
<!-- TODO: Have a logo or something -->
<h1>Mustard Mine</h1>
<p>Welcome, {{ username }}!</p>
<div id=messages>
{% if error %}
<div class=errormessage>{{error}}</div>
{% endif %}
</div>
<div id=tweets class=hidden>Scheduled tweet(s):<ul></ul></div>
</header>

<input type=radio id=display_all name=display checked><label for=display_all>Show all</label>
<input type=radio id=display_one name=display><label for=display_one>Sequential</label>

<section class=current>
<h2>Stream setups</h2>
<table border=1 id=setups><tr><th>Category</th><th>Title</th><th>Tags</th><th>Mature</th><th>Tweet</th></tr></table>
<div id=prevsetup></div>
<form name=setups class=ajax method=post action="/update">
<input type=hidden name=channelid value={{channelid}}>
<table>
<tr>
	<td><label for=category>Category:</label></td>
	<td>
		<input id=category name=category size=30><button id=pick_cat type=button>Pick</button>
		<label><input id=mature type=checkbox name=mature> Mature</label><span id=maturedesc></span>
	</td>
</tr>
<tr><td><label for=title>Stream title:</label></td><td><input id=title name=title size=125></td></tr>
<tr><td>Tags:</td><td><input id=tags name=tags size=125> <button id=pick_tag type=button>Pick</button></td></tr>
<tr><td colspan=2>Separate multiple tags with commas.</td></tr>
</table>
<input type=submit value="Update stream info"> <button type=button id=save>Save this setup</button>
</form>
<dialog id=picker><section>
<header><h3 id=picker_heading>Pick a category:</h3><div><button type=button class=dialog_cancel>x</button></div></header>
<div>
<input id=picker_search size=30>
<ul id=picker_results></ul>
</div></section></dialog>
</section>

<section>
<h2>Twitter</h2>
{{ twitter }}
<form method=post class=ajax action="/tweet">
<input type=hidden name=channelid value={{channelid}}>
<p><label>Tweet that you're live: <span id=tweet contenteditable=true></span></label><span id=tweetlen>0</span> / 280</p>
<p><select name=tweetschedule id=tweetschedule>
<option value="now">Right now</option>
<option value="0" selected>At schedule</option>
<option value="300">At T+5 mins</option>
<option value="600">At T+10 mins</option>
<option value="1800">At T+30 mins</option>
</select>
<input type=submit value="Tweet!"><span id=tweettime>Immediate</span></p>
<p>Tip: The tweet is included in a saved setup. Retain an entire ready-to-go tweet, or pre-write parts of it (eg a list of hashtags),
to save yourself the trouble of writing it out every time.</p>
</form>
<p><a href="#" id=twitter_config>Configure defaults</a></p>
<dialog id=twitter_cfg><section>
<header><h3>Twitter defaults</h3><div><button type=button class=dialog_cancel>x</button></div></header>
<div>
<form name=twittercfg class=ajax method=post action="/twitter_cfg">
<ul><li>Default schedule time:
<select name=stdsched>
<option value="0">At schedule</option>
<option value="300">At T+5 mins</option>
<option value="600">At T+10 mins</option>
<option value="1800">At T+30 mins</option>
<option value="custom">Custom</option>
</select></li>
<li class=customonly><label>Custom schedule time: <input name=custsched type=number> seconds.</label></li>
<li class=customonly>Positive for after scheduled time, negative for before.</li>
</ul>
<input type=submit value="Set defaults">
</form>
</div></section></dialog>
</section>

<section id=schedule>
<h2>Schedule</h2>
<form name=schedule method=post action="/schedule">
<input type=hidden name=channelid value={{channelid}}>
<p>Specify schedule in timezone: <input name=sched_tz size=40> <span id=othertz></span></p>
<p>Next scheduled time: <span id=nextsched></span></p>
<table>
<tr><td><label for=sched0>Sun:</label></td><td><input class=sched name=sched0 size=20></td></tr>
<tr><td><label for=sched1>Mon:</label></td><td><input class=sched name=sched1 size=20></td></tr>
<tr><td><label for=sched2>Tue:</label></td><td><input class=sched name=sched2 size=20></td></tr>
<tr><td><label for=sched3>Wed:</label></td><td><input class=sched name=sched3 size=20></td></tr>
<tr><td><label for=sched4>Thu:</label></td><td><input class=sched name=sched4 size=20></td></tr>
<tr><td><label for=sched5>Fri:</label></td><td><input class=sched name=sched5 size=20></td></tr>
<tr><td><label for=sched6>Sat:</label></td><td><input class=sched name=sched6 size=20></td></tr>
</table>
<input type=submit value="Update schedule">
</form>
<ul>
<li>The schedule repeats weekly. Everything is based on Sun/Mon/Tue etc.</li>
<li>On each day-of-week, you may have zero or more times. Each time is interpreted within the specified timezone.</li>
<li>Times can be entered with AM/PM and will be converted into 24-hour notation.</li>
<li>"Preview" times and countdowns on this dashboard may use your local time, ignoring the specified timezone. Don't worry, the real countdown will use the right timezone.</li>
<li>This info is not public, so there's no need to have a "vacation mode" etc. Just don't click the button to tell MM to do stuff. For the same
reason, it's absolutely fine to have temporary or occasional stream times listed here; this isn't a promise to your viewers, just a convenience
for your countdown timer and tweet.</li>
<li>Daylight Saving Time is an abomination. It's impossible to handle it perfectly. If you disagree with how MM handles it, speak to your elected
representatives and try to get DST abolished. (It won't be easy - in fact, it'll be nearly impossible - but trying to get a program to handle DST
perfectly is even harder.)</li>
</ul>
</section>

<section>
<h2>Timers</h2>
<p>Drag a timer title directly into OBS to create it as a browser source.</p>
<ul>
{% for id, title in timers %}
<li><a href="/countdown/{{id}}" target="_blank" class="timer-link">{{title or id}}</a> | <a href="/timer/{{id}}">[edit]</a></li>
{% endfor-%}
</ul>
<form action="/timer/new" method=post><input type=hidden name=channelid value={{channelid}}><input type=submit value="Create new timer"></form>
<details><summary>Adjust timers</summary>
<p><button class="timer-adjust" data-delta="60">+1 min</button> <button class="timer-adjust" data-delta="300">+5 min</button> <button class="timer-adjust" data-delta="900">+15 min</button></p>
<p><button class="timer-adjust" data-delta="-60">-1 min</button> <button class="timer-adjust" data-delta="-300">-5 min</button> <button class="timer-adjust" data-delta="-900">-15 min</button></p>
All timers will be instantly extended/shortened by the specified time.
<p>Or set timer to this exact time: <button class="timer-force">5:00</button> <button class="timer-force">10:00</button>
<input id=targettime size=5 placeholder="15:00"> <button id=set-timer>Set</button></p>
</details>
</section>

<section>
<h2>Personal checklist</h2>
<ul id=checklist></ul>
<details><summary>Edit checklist</summary>
<form name=checklist action="/checklist" method=post>
<input type=hidden name=channelid value={{channelid}}>
<div class="columns">
<textarea name=checklist rows=10 cols=80>
{{checklist}}
</textarea>
<p style="flex: 1 0">Put important reminders here, one per line. You'll be able to check them off as you're
preparing to go live, with one tick box per entry. Purely for your own use, has no actual
functionality behind it.</p>
</div>
<input type=submit value="Update">
</form>
</details>
</section>

<section>
<h2>Administrivia</h2>
<!-- <button type=button id=hello>Hello, world</button> -->
<ul>
<li><a href="/mustard-backup.json?channelid={{channelid}}">Backup/export settings</a></li>
<li><form action="/restore-backup" enctype="multipart/form-data" method=post>
Restore backup: <input type=file name=backup>
<input type=hidden name=channelid value={{channelid}}>
<input type=submit value="Submit"></form></li>
</ul>
<p><a href="/logout">Logout</a></p>
</section>

<div id=pagination>
<button id=prev_section>↢</button> Sections <button id=next_section>↣</button>
</div>
<script type=module src="/static/mustard.js"></script>
</body>
</html>
