<!DOCTYPE HTML>
<html>
<head>
<title>Mustard Mine</title>
<link rel="stylesheet" href="/static/main.css">
<script>
const channel = {{ channel | tojson }};
const communities = {{ commnames | tojson }};
let setups = {{ setups | tojson }};
const sched_tz = {{ sched_tz | tojson }};
const schedule = {{ schedule | tojson }};
</script>
</head>
<body>

<header>
<!-- TODO: Have a logo or something -->
<h1>Mustard Mine</h1>
<p>Welcome, {{ username }}!</p>
</header>

<section>
<h2>Stream setups</h2>
<table border=1 id=setups></table>
<form name=setups method=post action="/update">
<table>
<tr><td><label for=category>Category:</label></td><td><input id=category name=category size=50></td></tr>
<tr><td><label for=title>Stream title:</label></td><td><input id=title name=title size=75></td></tr>
<tr><td><label for=comm1>Communities:</label></td><td><input id=comm1 name=comm1 size=50></td></tr>
<tr><td></td><td><input name=comm2 size=50></td></tr>
<tr><td></td><td><input name=comm3 size=50></td></tr>
</table>
<input type=submit value="Update stream info"> <button type=button id=save>Save this setup</button>
</form>
</section>

<section>
<h2>Twitter</h2>
<ul class=menu><li>{{ twitter | safe }}</li></ul>
<form method=post action="/tweet">
<p><label>Tweet that you're live: <input name=tweet id=tweet size=100></label><span id=tweetlen></span></p>
<p><select name=tweetschedule id=tweetschedule>
<option value="now" selected>Now</option>
<option value="0">At schedule</option>
<option value="300">At T+5 mins</option>
<option value="600">At T+10 mins</option>
<option value="1800">At T+30 mins</option>
</select>
<input type=submit value="Tweet!"><span id=tweettime>Immediate</span></p>
</form>
</section>

<section id=schedule>
<h2>Schedule</h2>
<form name=schedule method=post action="/schedule">
<p>Specify schedule in timezone: <input name=sched_tz size=40> <span id=othertz></span></p>
<p>Next scheduled time: <span id=nextsched></span></p>
<table>
<tr><td><label for=sched0>Sun:</label></td><td><input class=sched name=sched0 size=20></td></tr>
<tr><td><label for=sched1>Mon:</label></td><td><input class=sched name=sched1 size=20></td></tr>
<tr><td><label for=sched2>Tue:</label></td><td><input class=sched name=sched2 size=20></td></tr>
<tr><td><label for=sched3>Wed:</label></td><td><input class=sched name=sched3 size=20></td></tr>
<tr><td><label for=sched4>Thu:</label></td><td><input class=sched name=sched4 size=20></td></tr>
<tr><td><label for=sched5>Fri:</label></td><td><input class=sched name=sched5 size=20></td></tr>
<tr><td><label for=sched6>Sat:</label></td><td><input class=sched name=sched6 size=20></td></tr>
</table>
<input type=submit value="Update schedule">
</form>
<p>
The schedule will be subject to the following rules:
</p>
<ul>
<li>The schedule repeats weekly. Everything is based on Sun/Mon/Tue etc.
<li>On each day-of-week, you may have zero or more times. Each time is interpreted within the specified timezone.
<li>Times can be entered with AM/PM and will be converted into 24-hour notation.
<li>"Preview" times and countdowns on this dashboard may use your local time, ignoring the specified timezone. Don't worry, the real countdown will use the right timezone.
<li>This info is not public, so there's no need to have a "vacation mode" etc. Just don't click the button to tell MM to do stuff.
<li>If the time falls within a gap (eg when DST advances clocks), behaviour is undefined, but will probably pick one side or the other.
<li>If the time falls within a fold (eg when DST retards clocks), the first available time will be used.
<li>Basically, don't schedule stuff when DST is changing clocks. You'll probably be annoyed, and not just because of MM.
</ul>
</section>

<section>
<h2>Timers</h2>
<ul>
{% for id, title in timers %}
<li><a href="/countdown/{{id}}" target="_new">{{title or id}}</a> | <a href="/timer/{{id}}">[edit]</a></li>
{% endfor-%}
</ul>
<form action="/timer/new" method=post><input type=submit value="Create new timer"></form>
</section>

<section>
<h2>Personal checklist</h2>
<ul id=checklist></ul>
<details><summary>Edit checklist</summary>
<form name=checklist action="/checklist" method=post>
<div class="columns">
<textarea name=checklist rows=10 cols=80>
{{checklist}}
</textarea> <!-- How many things can I call "checklist" without collisions? -->
<p style="flex: 1 0">Put important reminders here, one per line. You'll be able to check them off as you're
preparing to go live, with one tick box per entry. Purely for your own use, has no actual
functionality behind it.</p>
</div>
<input type=submit value="Update">
</form>
</details>
</section>

<section>
<h2>Administrivia</h2>
<button type=button id=hello>Hello, world</button>
<ul>
<li><a href="/mustard-backup.json">Backup/export settings</a></li>
<li><form action="/restore-backup" enctype="multipart/form-data" method=post>Restore backup: <input type=file name=backup><input type=submit value="Submit"></form></li>
</ul>
<p><a href="/logout">Logout</a></p>
</section>
<script src="/static/mustard.js"></script>
</body>
</html>
